// Define some variables
$primary-color: #1F2937;
$text-color: #E5E7EB;
$secondary-color: #3882F6;

body {
  // background-color: $primary-color;
  color: $text-color;
  margin: 0;
}

header {
  display: flex;
  background-color: $primary-color;
}

#navlogo {
  height: 60px;
  width: 150px;
  margin: 1em 0 1em 5%;
}

#navbarlinks {
  display: flex;
  margin: 1em 5% 1em auto;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  .navlinks {
    color: $text-color;
    font-size: 16px;
    text-decoration: none;
  }
}

#landing {
  background-color: $primary-color;
  color: $text-color;
  display: flex;
  padding: 0 5em;
  height: auto;
  #landingleft {
    flex: 1;
    margin: 2em;

    p {
      font-size: 16px;
    }
    button {
      color: $text-color;
      background-color: $secondary-color;
      border-style: none;
      border-radius: 5px;
      width: 100px;
      height: 30px;
      font-size: 16px;
    }
  }

  #landingright {
    flex: 1;
    margin: 2em;
  }

  #placeholder {
    max-width: 100%;
    height: auto;
  }
}

#content {
  background-color: cream;
  h2 {
    // Styles for h2
  }

  #contentcontainer {
    .contentbox {
      // Styles for contentbox
    }
  }
}

#blockquote {
  blockquote {
    p {
      // Styles for p
    }

    footer {
      // Styles for footer
    }
  }
}

#calltoactioncontainer {
  #calltoactionbox {
    #calltoactionleft {
      h3 {
        // Styles for h3
      }

      p {
        // Styles for p
      }
    }

    #calltoactionbutton {
      secondary {
        color: $secondary-color;
      }
    }
  }
}

footer {
  // Styles for footer
}